In [3]:
import pandas as pd
import sklearn
import os
import matplotlib.pyplot as plt 
os.getcwd()

'C:\\Users\\m.pirela.escobar\\OneDrive - Accenture\\Documents\\Courses\\Python'

In [5]:
iris = pd.read_csv("Iris.csv")

In [6]:
iris.shape

(150, 6)

In [8]:
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [10]:
# Para valores nulos
iris.isna()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [13]:
iris.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [16]:
iris.iloc[1:3]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [17]:
setosa = iris.loc[:, "Species"] == "Iris-setosa"

In [20]:
df_setosa = iris.loc[setosa]

In [22]:
df_setosa.Id.max()

50

In [24]:
iris.SepalLengthCm.max()

7.9